<h2><%= I18n.t('contacts')%></h2>

Sort by:
<select ng-model="orderProp" class="form-control orderProp">
  <option value="name"><%= I18n.t('name')%></option>
  <option value="email"><%= I18n.t('email')%></option>
  <option value="phone_number"><%= I18n.t('phone_number')%></option>
</select>
<p>

<table class="table table-bordered">
  <tr>
    <th><%= I18n.t('name')%></th>
    <th><%= I18n.t('email')%></th>
    <th><%= I18n.t('phone_number')%></th>
    <th><%= I18n.t('actions')%></th>
  </tr>
  <tr>
    <th><input type="text" class="form-control" placeholder="search by name" ng-model="search.name"></th>
    <th><input type="text" class="form-control" placeholder="search by email" ng-model="search.email"></th>
    <th><input type="text" class="form-control" placeholder="search by phone number" ng-model="search.phone_number"></th>
    <th></th>
  </tr>

  <!-- paging -->
  <tr dir-paginate="contact in contacts | filter:{name: search.name, email: search.email, phone_number: search.phone_number} | orderBy:orderProp | itemsPerPage: 5" pagination-id="contact">
    <td>{{contact.name}}</td>
    <td>{{contact.email}}</td>
    <td>{{contact.phone_number}}</td>
    <td>
      <a href="#/contacts/{{contact.id}}/edit" class="btn btn-success btn-sm"><%= I18n.t('edit')%></a>
      <a href="" class="btn btn-danger btn-sm" ng-click="destroy(contact.id)"><%= I18n.t('delete')%></a>
    </td>
  </tr>
</table>
<dir-pagination-controls pagination-id="contact"></dir-pagination-controls>
</br>
<a href="#/contacts/new" class="btn btn-primary btn-sm add-new"><%= I18n.t('new_contact')%></a>