<h2><%= I18n.t('outbox')%></h2>

Sort by:
<select ng-model="orderProp" class="form-control orderProp-outbox">
  <option value="receiver_email"><%= I18n.t('reciever')%></option>
  <option value="subject"><%= I18n.t('subject')%></option>
  <option value="created_at"><%= I18n.t('timer')%></option>
</select>
<p>

<table class="table table-bordered">
  <tr>
    <th><%= I18n.t('reciever')%></th>
    <th><%= I18n.t('subject')%></th>
    <th><%= I18n.t('timer')%></th>
  </tr>
  <tr>
    <th><input type="text" class="form-control" placeholder="search by receiver email" ng-model="search.receiver_email"></th>
    <th><input type="text" class="form-control" placeholder="search by subject" ng-model="search.subject"></th>
    <th><input type="text" class="form-control" placeholder="search by Timer" ng-model="search.created_at"></th>
  </tr>
  <!-- paging -->
  <tr dir-paginate="email in emails | filter:{receiver_email: search.receiver_email, subject: search.subject, created_at: search.created_at} | orderBy:orderProp | itemsPerPage: 5" pagination-id="outbox">
    <td>{{email.receiver_email | email}}</td>
    <td>{{email.subject}}</td>
    <td>{{email.created_at | date:'dd-MM-yyyy'}}</td>
  </tr>
</table>
<dir-pagination-controls pagination-id="outbox"></dir-pagination-controls>
